<h1>Rent a Cat!</h1>

<%= render "shared/errors" %>

<form action="<%= requests_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <table>
    <tr>
      <td>
        <label for="request_cat_id">Cat ID &amp; Name:</label>
      </td>
      <td>
        <select
          name="request[cat_id]"
          value="<%= @request.cat_id %>"
          id="request_cat_id">
          <option></option>
          <% @cats.each do |cat| %>
            <option
              value="<%= cat.id %>"
              <%= "selected" if @request.cat_id == cat.id %>>
              <%= "(#{cat.id}) #{cat.name}" %>
            </option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label for="request_start_date]">Start Date:</label>
      </td>
      <td>
        <input
          type="date"
          name="request[start_date]"
          id="request_start_date"
          value="<%= @request.start_date %>">
      </td>
    </tr>
    <tr>
      <td>
        <label for="request_end_date">End Date:</label>
      </td>
      <td>
        <input
          type="date"
          name="request[end_date]"
          id="request_end_date"
          value="<%= @request.end_date %>">
      </td>
    </tr>
  </table>

  <input type="submit" value="Submit Rental Request">
</form>
