<h1><%= @cat.name %></h1>

<table>
  <tr>
    <td>Age:</td>
    <td><%= @cat.age %></td>
  </tr>
  <tr>
    <td>Color:</td>
    <td><%= Cat::COLORS[@cat.color] %></td>
  </tr>
  <tr>
    <td>Sex:</td>
    <td><%= Cat::SEXES[@cat.sex] %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<h3>Rental Requests</h3>
<table>
  <tr>
    <th>Requester</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
  </tr>
  <% @cat.sorted_requests.includes(:requester).each do |request| %>
    <%= render "request_tr", request: request, cat: @cat %>
  <% end %>
</table>
