<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <table>
    <tr>
      <td>
        <%= current_user.username %>
      </td>
      <td>
        <%= button_to "Logout", session_url, method: :delete %>
      </td>
    </tr>
  </table>
<% else %>
  <table>
    <tr>
      <td>
        <%= button_to "Sign up", new_user_url, method: :get %>
      </td>
      <td>
        <%= button_to "Login", new_session_url, method: :get %>
      </td>
    </tr>
  </table>
<% end %>

<%= yield %>

</body>
</html>
